:host {
  .password-box ::ng-deep {
    .input-icon path {
      stroke: #FFFFFFAA;
    }
    .input-element:focus + .input-icon path,
    .input-element:-webkit-autofill + .input-icon path {
      stroke: #000000AA;
    }
  }
  .password-box.show-password ::ng-deep {
    .input-icon path {
      stroke: #FFFFFF;
    }
    .input-element:focus + .input-icon path,
    .input-element:-webkit-autofill + .input-icon path {
      stroke: #000000;
    }
  }
}