<div *ngIf="instance" class="tag-box-dropdown {{ InputSize[instance.size] || InputSize.large }}"
  [style.width.px]="instance.tagBox.nativeElement.offsetWidth"
>
  <div
    class="tag-box-dropdown-wrap"
    *ngIf="instance"
  >
    <div class="select-box-search" *ngIf="instance.showSearch">
      <custom-search-panel
        [autoFocus]="!instance.allowInput"
        [placeholder]="instance.placeholderSearch"
        theme="underlined"
        (valueChange)="onChangeFilter($event)"
        (resultUpdate)="onResultUpdate($event)"
        (clearValue)="onClearSearch()"
        [minLengthResult]="instance.minLengthResult"
        [size]="instance.size"
        [resultFn]="instance.serverDataSource"
      ></custom-search-panel>
      <ng-container *ngTemplateOutlet="instance.dropdownAdditionTemplate || null"></ng-container>
    </div>
    <div class="tag-box-dropdown-not_found" *ngIf="notFound">
      По запросу '{{ filterValue }}' ничего не найдено.
    </div>
    <div
      class="tag-box-dropdown-item"
      *ngFor="let item of dataSource"
      [class.selected]="instance.selected[(item | fn:instance.valueExpr)]"
      (click)="onClickItem(item)"
    >
      <ng-container *ngTemplateOutlet="instance.dropdownTextTemplate || instance.displayTextTemplateDefault; context: { item: item }"></ng-container>
    </div>
  </div>
</div>
