:host {
  .tag-box-dropdown {
    width: 100%;
    overflow: hidden;

    &.input-size {
      &__large {
        .tag-box-dropdown-item {
          padding: 8px;
          font-size: 16px;
        }
      }

      &__small {
        .tag-box-dropdown-item {
          padding: 4px 8px;
          font-size: 14px;

        }
      }
    }

    .tag-box-dropdown-wrap {
      padding: 4px;
      height: 100%;
      overflow-x: auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      .select-box-search {
        margin: 0 8px 6px 6px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-gap: 12px;
      }
      .tag-box-dropdown-not_found {
        padding: 0 8px;
        color: #646464;
      }
      .tag-box-dropdown-item {
        cursor: pointer;
        user-select: none;
        border-radius: 2px;
        line-height: 20px;
        color: var(--color-font);
        &:hover {
          background: var(--color-background--hover);
        }
        &.selected {
          color: #ffe600;
          font-weight: 600;
          &:before {
            content: url(/assets/icons/custom/custom-selected-item.svg);
            vertical-align: middle;
            margin-right: 4px;
            height: 20px;
            width: 20px;
            float: left;
          }
        }
      }
    }
  }
}
